<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hangman</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Josefin+Sans|Karla|Oswald" rel="stylesheet">
</head>
<body style='background-image: url("/imgs/hangman1.jpeg");'>
	<div class="container">
		<h1 id="main-head">Let's Play Hangman!</h1>
		<div class="difficulty-selection">
			<h3 class="headers form-header">Introduction:</h3>
			<p class="intro">Welcome! This is a classic version of Hangman to test your luck! Select a difficulty below to get started. To help you warm up, the levels Easy and Medium will have hints included. The Object of the game is simple, don't spell <span class="form-header">"HANG!"</span>. There will be more instructions and a bit of humor mixed responses once you choose a level and begin. Thanks for playing!</p>
			<h3 class="headers form-header">Select A Difficulty:</h3>
			<form class="initial-form">
				
				<input type="radio" name="difficulty" value="3" id="easy" checked>
				<label for="easy"> Easy(3 Letters)	</label>
				
				<input type="radio" name="difficulty" value="5"> 
				<label for="medium">Medium(5 Letters)</label>
				
				<input type="radio" name="difficulty" value="8" id="hard">
				<label for="hard">Hard(8 Letters)</label> 
				
				<input type="radio" name="difficulty" value="9" id="legendary"> 
				<label for="legendary">Legendary(9 Letters)</label>

				<input id="submit-button" class="submit-button btn btn-default" type="submit" value="Lets Play!">
			</form>
		</div>
	</div>
</body>
</html>



